.introduce-content img {
  max-width: 100% !important;
  height: auto !important;
  display: block;
  margin: 10px auto;
}

.introduce-content table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 20px;
  table-layout: fixed;
}

.introduce-content iframe {
    max-width: 100% !important;
    display: block;
    margin: 10px auto;
  }

.introduce-content table td {
  vertical-align: top;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.6;
}

/* @media (max-width: 1024px) {
  .introduce-content iframe {
    max-width: 100% !important;
    height: auto !important;
    display: block;
    margin: 10px auto;
  }
} */
