body {
  font-family: "Inter", sans-serif;
}

.imgBanner img {
  height: 207px;
}

p {
  font-size: 13px;
}

.scroll-container {
  display: flex;
  overflow-x: hidden; /* Ẩn thanh cuộn */
}

.shadow2 {
  box-shadow: 0 0 10px 2px rgba(32, 31, 31, 0.234);
}
.shadow3 {
  box-shadow: 0 0 5px 2px rgba(65, 63, 63, 0.234);
}
.shadow4 {
  box-shadow: 0 0 10px 1px rgba(236, 236, 236, 0.234);
}

.sale {
  color: white;
  background-color: red;
  position: absolute;
  border-radius: 5px;
  top: 15px;
  left: 15px;
  width: 40px;
  text-align: center;
}

/* may anh */
.camera {
  width: 50px;
}

.text-truncate-3 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img {
  transition: 0.3s ease;
}

.img:hover {
  filter: brightness(200%);
}

.img-container {
  overflow: hidden;
  position: relative;
}

.hover-zoom {
  transition: transform 0.3s ease;
  width: 100%;
  height: auto;
}

.hover-zoom:hover {
  transform: scale(1.1);
}

.btn2:hover {
  color: #263bf3;
}

.prdItem {
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border: none;
}

.custom-dot-list-style li button {
  border: none; /* Loại bỏ border */
}
/* Màn hình lớn hơn 1024px */
@media (min-width: 1024px) {
  .container {
    max-width: 100% !important; /* Bỏ giới hạn chiều rộng */
    padding: 0 !important; /* Bỏ padding */
    margin: 15px auto !important; /* Bỏ margin */
    width: 90% !important; /* Đảm bảo chiếm 100% chiều rộng */
  }
  .timeOpen {
    margin-top: -15px;
    margin-bottom: -15px;
  }
  .btn2 {
    background-color: #e7e7e7;
    border: none;
    color: black;
    width: 180px;
    height: 38px;
    font-size: 13px;
  }
}

/* Màn hình trung bình (Tablet) */
@media (min-width: 900px) and (max-width: 1400px) {
  .btn2 {
    background-color: #e7e7e7;
    border: none;
    color: black;
    width: 140px;
    height: 40px;
    font-size: 12px;
  }
}
.flash-sale-carousel .react-multi-carousel-dot button {
  background-color: rgb(40, 84, 229) !important;
  border: 1px solid #fff !important;
}
.flash-sale-carousel .react-multi-carousel-dot--active button {
  background-color: #fff !important;
}
.compare-drawer .ant-drawer-header {
  background-color: rgb(40, 84, 229);
}
.compare-drawer .ant-drawer-title,
.compare-drawer .ant-drawer-close {
  color: #fff;
}
