.imgBanner img {
  height: 207px;
}

p {
  font-size: 13px;
}

.scroll-container {
  display: flex;
  overflow-x: hidden; /* Ẩn thanh cuộn */
}

.shadow2 {
  box-shadow: 0 0 10px 2px rgba(32, 31, 31, 0.234);
}
.shadow3 {
  box-shadow: 0 0 5px 2px rgba(65, 63, 63, 0.234);
}
.shadow4 {
  box-shadow: 0 0 10px 1px rgba(132, 131, 131, 0.234);
}

a :hover {
  color: rgb(43, 0, 255);
}

.text-uppercase {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.text-uppercase2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
.tgray {
  color: rgb(107, 107, 107);
}
.tprimary {
  color: #0d6efd;
}
.tblack {
  color: #000000;
}
.h6:hover {
  color: #0d6efd;
}
.f16 {
  font-size: 16px;
}
.f14 {
  font-size: 14px;
}

.sale {
  color: white;
  background-color: red;
  position: absolute;
  border-radius: 5px;
  top: 15px;
  left: 15px;
  width: 40px;
  text-align: center;
}

/* may anh */
.camera {
  width: 50px;
}

.text-truncate-3 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img {
  transition: 0.3s ease;
}
.img {
  
  object-fit: cover; /* Đảm bảo hình ảnh vừa khung mà không méo */
  object-position: center;
}

.img-container {
  overflow: hidden;
  position: relative;
}

.hover-zoom {
  transition: transform 0.3s ease;
  width: 100%;
  height: auto;
}

.hover-zoom:hover {
  transform: scale(1.1);
}

.btn2:hover {
  color: #263bf3;
}

.btn2 {
  background-color: #c3c2c2;
  border: none;
  color: black;
}

.flashsale-carousel .react-multi-carousel-dot button {
  border: none;
  background-color: rgb(170, 197, 235);
  opacity: 1;
}

.flashsale-carousel .react-multi-carousel-dot--active button {
  background-color: #fff;
}

.react-multi-carousel-dot button {
  border: none;
  background-color: #c6c6ca;
}
.react-multi-carousel-dot--active button {
  background-color: #0d6efd;
}

.prdItem {
  width: 100%;
}
