.prdName {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  white-space: "normal";
  word-wrap: "break-word";
}

/* cho Flash Sale */
.original-price {
  text-decoration: line-through; /* Gạch ngang */
  font-size: 13px;
  color: #999;
}

.price {
  font-size: 18px;
  color: #ff0048;
  font-weight: 600;
}

.hover-buttons {
  opacity: 0;
  transform: translate(20%, -400%) scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.hover-buttons button {
  margin: 5px;
}

.prdName:hover {
  color: #0d6efd;
}
/* Màn hình lớn (Desktop)  */
@media (min-width: 1024px) {
  .prdName {
    font-size: 16px;
  }
  .prdItem:hover .hover-buttons {
    opacity: 1;
    transform: translate(20%, -500%) scale(1);
  }
  .text-Tong {
    font-size: 14px;
  }
  .FormCheck {
    width: 45px;
  }
}

/* Màn hình trung bình (Tablet) */
@media (min-width: 768px) and (max-width: 1023px) {
  .prdName {
    font-size: 15px;
  }
  .price {
    font-size: 17px;
  }

  .hover-buttons {
    display: none;
  }

  .prdItem:hover .hover-buttons {
    display: none;
  }
  .text-Tong {
    font-size: 12px;
  }
  .FormCheck {
    width: 40px;
    justify-content: space-between;
  }
}

/* Màn hình nhỏ (Mobile) */
@media (max-width: 767px) {
  .prdName {
    font-size: 12px;
  }
  .price {
    font-size: 12px;
  }

  .hover-buttons {
    display: none;
  }

  .prdItem:hover .hover-buttons {
    display: none;
  }
  .flex-column-mobile {
    flex-direction: column !important;
    text-align: center;
  }
  .FormCheck {
    width: 0px;
  }
  .text-end2 {
    text-align: end;
  }
}

.product-item .hover-buttons {
  opacity: 0;
  transform: translate(25%, -400%) scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.product-item:hover .hover-buttons {
  opacity: 1;
  transform: translate(30%, -600%) scale(1);
}

@media (max-width: 1450px) {
  .product-item:hover .hover-buttons {
    transform: translate(25%, -570%) scale(1);
  }
}

@media (max-width: 1280px) {
  .product-item:hover .hover-buttons {
    transform: translate(20%, -500%) scale(1);
  }
}

@media (max-width: 1100px) {
  .product-item:hover .hover-buttons {
    transform: translate(20%, -470%) scale(1);
  }
}
