.imgdetail {
  width: 60%;
  height: "auto";
}

.pricedetail {
  font-size: 30px;
  font-weight: 500;
  color: rgb(247, 0, 103);
}

.detailQuantity {
  border: 1px solid grey;
  width: auto;
  border-radius: 8px;
 
}

.original-priceDetail {
  text-decoration: line-through; /* Gạch ngang */
  font-size: 20px; /* Kích thước nhỏ hơn */
  color: #999; /* Màu nhạt hơn */
}

.VAT {
  color: rgb(30, 222, 30);
  margin-top: -15px;
  font-size: 15px;
  font-weight: 400;
}

.operationDetail {
  font-size: 20px;
}

.buy {
  width: 100%;
  /* background-color: #efefef; */
}

.adddetail {
  width: 49%;
  height: 65px;
}

.danger {
  background-color: rgba(255, 0, 0, 0.322);
  color: rgb(179, 0, 0);
  /* justify-content: space-between; */
}

.imgdetail2 {
  width: 60%;
  height: "auto";
}
.thumbnail-image {
  width: 80px;
  height: 80px;
  object-fit: cover; /*cắt ảnh cho vừa khung */
  cursor: pointer; /*//thay con trọ chuột */
  margin: 15px;
}
.thumbnail-image:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}



