.Home {
    margin: 0 15px; 
    font-size: 18px
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}


.navbar .dropdown-menu {
    transition: all 0.3s ease;
}


.nav-link:hover {
    text-decoration: underline;
}

.sub-dropdown {
    display: none; /* Ẩn dropdown con mặc định */
  }
  
  .dropdown-item:hover .sub-dropdown {
    display: block; /* Hiện dropdown con khi hover */
  }
  
  .dropdown-item {
    position: relative; /* Để dropdown con xuất hiện bên phải */
  }
  
  .sub-dropdown {
    position: absolute; /* Đặt dropdown con ở vị trí tuyệt đối */
    left: 100%; /* Đẩy sang bên phải của item cha */
    top: 0; /* Căn giữa theo chiều dọc */
  }
  .custom-navbar .nav-link {
    color: white; /* Màu chữ mặc định */
}

/* --------------------------------------------------------- */
.nav-link {
    transition: text-decoration 0.9s ease;
}

.custom-search {
    width: 470px; 
    max-width: 100%; 
}

.custom-navbar {
    background-color: #000; 
   color: aliceblue;
}

a{
    text-decoration: none;
    font-size: 14px;
    color: aliceblue;
}

a:hover{
    color: rgb(81, 150, 211);
}

