.Home {
  margin: 0 15px;
  font-size: 18px;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.navbar .dropdown-menu {
  transition: all 0.3s ease;
}

.nav-link:hover {
  text-decoration: underline;
}

.sub-dropdown {
  display: none;
}

.dropdown-item:hover .sub-dropdown {
  display: block;
}

.dropdown-item {
  position: relative;
}

.sub-dropdown {
  position: absolute;
  left: 100%;
  top: 0;
}
.custom-navbar .nav-link {
  color: white;
}

.search {
  position: absolute;
  right: 100px;
}

/* --------------------------------------------------------- */
.nav-link {
  transition: text-decoration 0.9s ease;
}

.custom-search {
  justify-content: center;
  align-items: center;
  width: 600px;
  max-width: 100%;
}

.custom-navbar {
  background-color: #282c30;
  color: aliceblue;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: aliceblue;
}

a:hover {
  color: rgb(81, 150, 211);
}


